@model Tikti.Models.RoleCompetencyA_VM

@{
    ViewData["Title"] = "Update Competencies for the role";
    Layout = "~/Views/Shared/LoggedIn.cshtml";
}

@*<div class="col-md-4 align-content-center" style="margin:auto">
    <div class="row">
        <h1>Select Competency Part 1</h1>
    </div>
    <hr />*@
<hr />
<form asp-action="Edit">
    <div class="row no_margin">
        <div class="col-md-3" style="margin:auto; padding-top:2rem">
            <div class="row text-center">
                <h3 class="text-center" style="font-weight:400;font-size:2.5rem">
                    'Know – How'
                </h3>
            </div>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @for (int i = 0; i < Model.competencyA.Count / 2; i++)
            {
                <div style="font-size:1.2rem; line-height:2.0rem">
                    @Html.CheckBoxFor(m => m.competencyA[i].IsSelected)
                    @*@Html.LabelFor(m => m.competencyA[i].CompetencyName, Model.competencyA[i].CompetencyName)*@
                    <label title="@Model.competencyA[i].Description">@Model.competencyA[i].CompetencyName</label>
                    <br />
                </div>
                @Html.HiddenFor(m => m.competencyA[i].CompetencyId)
            }
        </div>
        <div class="col-md-3" style="margin:auto; padding-top:2rem">
            <div class="row text-center">
                <h3 class="text-center" style="font-weight:400;font-size:2.5rem">
                    'Contribution'
                </h3>
            </div>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @for (int i = Model.competencyA.Count / 2; i < Model.competencyA.Count; i++)
            {
                <div style="font-size:1.2rem; line-height:2.0rem">
                    @Html.CheckBoxFor(m => m.competencyA[i].IsSelected)
                    <label title="@Model.competencyA[i].Description">@Model.competencyA[i].CompetencyName</label><br />
                </div>
                @Html.HiddenFor(m => m.competencyA[i].CompetencyId)
            }
        </div>
        <div class="col-md-3" style="margin:auto; padding-top:2rem">
            <h1 class="text-center" style="font-weight:400; font-size:2.5rem">
                "<strong>Review and Edit</strong>" <br /> Competencies
            </h1><hr />
            <div class="form-group text-center">
                <input type="submit" value="Review Next Step" class="btn btn-primary btn-lg" />
            </div>
        </div>
    </div>
</form>