@model Tikti.Models.OtherRequirements

@{
    ViewData["Title"] = "Select other Requirements";
    Layout = "~/Views/Shared/LoggedIn.cshtml";
}


<hr />
        <form asp-action="Create">
            <div class="row no_margin">
                <div class="col-md-3" style="margin:auto; padding-top:2rem">
                    <h1 class="text-center" style="font-weight:500; font-variant:small-caps; font-size:3.5rem">
                        "Select Other Requirements"
                    </h1>
                </div>
                <div class="col-md-3" style="margin:auto; padding-top:2rem">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group form-check">
                        <label class="form-check-label" style="font-size:1.2rem; line-height:1.5rem">
                            <input class="form-check-input" asp-for="Sponsorship" /> @Html.DisplayNameFor(model => model.Sponsorship)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label" style="font-size:1.2rem; line-height:1.5rem">
                            <input class="form-check-input" asp-for="OverseasTravel" /> @Html.DisplayNameFor(model => model.OverseasTravel)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label" style="font-size:1.2rem; line-height:1.5rem">
                            <input class="form-check-input" asp-for="DrugTesting" /> @Html.DisplayNameFor(model => model.DrugTesting)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label" style="font-size:1.2rem; line-height:1.5rem">
                            <input class="form-check-input" asp-for="Age18" /> @Html.DisplayNameFor(model => model.Age18)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label" style="font-size:1.2rem; line-height:1.5rem">
                            <input class="form-check-input" asp-for="Travel" id="Travel" /> @Html.DisplayNameFor(model => model.Travel)
                        </label>
                    </div>
                    <div class="form-group" id="TravelDistance">
                        <label asp-for="TravelDistance" class="control-label" style="font-size:1.2rem; line-height:1.5rem"></label>
                        <input asp-for="TravelDistance" class="form-control" placeholder="Choose among:[ 0%, 5–20%, 25–50%, >50% ]"/>
                        <span asp-validation-for="TravelDistance" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label" style="font-size:1.2rem; line-height:1.5rem">
                            <input class="form-check-input" asp-for="DriverLicense" id="License" /> @Html.DisplayNameFor(model => model.DriverLicense)
                        </label>
                    </div>
                    <div class="form-group" id="LicenseProvince">
                        <label asp-for="LicenseProvince" class="control-label" style="font-size:1.2rem; line-height:1.5rem"></label>
                        <input asp-for="LicenseProvince" class="form-control" placeholder="Enter the State or Province on License."/>
                        <span asp-validation-for="LicenseProvince" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label" style="font-size:1.2rem; line-height:1.5rem">
                            <input class="form-check-input" asp-for="WeekendWork" /> @Html.DisplayNameFor(model => model.WeekendWork)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label" style="font-size:1.2rem; line-height:1.5rem">
                            <input class="form-check-input" asp-for="Overnight" /> @Html.DisplayNameFor(model => model.Overnight)
                        </label>
                    </div>
                </div>
            </div>
                <div class="row no_margin">
                    <div class="col-md-6 text-center">
                        <div class="form-group">
                            <input type="submit" value="Review Your Posting" class="btn btn-primary btn-lg"/>
                        </div>
                    </div>
                </div>
</form>
    @*</div>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    window.onload = function () {
        document.getElementById('TravelDistance').style.display = 'none';
        document.getElementById('LicenseProvince').style.display = 'none';
    };
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Travel').click(function () {
                if ($(this).is(":checked")) {
                    $("#TravelDistance").show();
                }
                else {
                    $("#TravelDistance").hide();
                }
            });
        });
</script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#License').click(function () {
                if ($(this).is(":checked")) {
                    $("#LicenseProvince").show();
                }
                else {
                    $("#LicenseProvince").hide();
                }
            });
        });
    </script>
}


