@model Tikti.Models.RoleBenefitVM


@{

    ViewData["Title"] = "Select benefits for the role";
    Layout = "~/Views/Shared/LoggedIn.cshtml";
}

@*<div class="row align-items-center">*@
@*<br>*@
        @*<div class="text-center">
            <h1>Select Role Benefit</h1>
        </div>*@
        <hr />
        <form asp-action="Create">
            <div class="row no_margin">
                <div class="col-md-3" style="margin:auto; padding-top:2rem;">
                    <h1 class="text-center" style="font-weight:500; font-variant:small-caps; font-size:3.5rem">
                        What benefits Employees will get in this role?(Choose all that apply)
                    </h1>
                </div>
                <div class="col-md-3" style="margin:auto; padding-top:2rem; margin-top:0">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @for (int i = 0; i < Model.benefits.Count / 2; i++)
                    {
                        <div style="font-size:1.2rem; line-height:2.2rem">
                            @Html.CheckBoxFor(m => m.benefits[i].IsSelected)
                            @Html.LabelFor(m => m.benefits[i].BenefitName, Model.benefits[i].BenefitName)<br />
                        </div>
                        @Html.HiddenFor(m => m.benefits[i].BenefitId)
                    }
                </div>
                <div class="col-md-4" style="margin:auto; padding-top:2rem; margin-top:0">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @for (int i = (Model.benefits.Count / 2); i < Model.benefits.Count; i++)
                    {
                        <div style="font-size:1.2rem; line-height:2.2rem">
                            @Html.CheckBoxFor(m => m.benefits[i].IsSelected)
                            @Html.LabelFor(m => m.benefits[i].BenefitName, Model.benefits[i].BenefitName)<br />
                        </div>
                        @Html.HiddenFor(m => m.benefits[i].BenefitId)
                    }
                </div>
            </div>
            <div class="row no_margin">
                <div class="col-md-4 text-center">
                    <div class="form-group">
                        <input type="submit" value="Next Step" class="btn btn-primary btn-lg" />
                    </div>
                </div>

            </div>
        </form>
            @*<div class="row no_margin">
                <div class="col text-center">
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>*@
@*</div>*@



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
