@model Tikti.Models.RoleBenefitVM


@{

    ViewData["Title"] = "Select benefits for the role";
    Layout = "~/Views/Shared/LoggedIn.cshtml";
}

<hr />
<form asp-action="Edit">
    <div class="row no_margin">
        <div class="col-md-3" style="margin:auto; padding-top:2rem; margin-top:0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @for (int i = 0; i < Model.benefits.Count / 2; i++)
            {
                <div style="font-size:1.2rem; line-height:2.2rem">
                    @Html.CheckBoxFor(m => m.benefits[i].IsSelected)
                    @Html.LabelFor(m => m.benefits[i].BenefitName, Model.benefits[i].BenefitName)<br />
                </div>
                @Html.HiddenFor(m => m.benefits[i].BenefitId)
            }
        </div>
        <div class="col-md-4" style="margin:auto; padding-top:2rem; margin-top:0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @for (int i = (Model.benefits.Count / 2); i < Model.benefits.Count; i++)
            {
                <div style="font-size:1.2rem; line-height:2.2rem">
                    @Html.CheckBoxFor(m => m.benefits[i].IsSelected)
                    @Html.LabelFor(m => m.benefits[i].BenefitName, Model.benefits[i].BenefitName)<br />
                </div>
                @Html.HiddenFor(m => m.benefits[i].BenefitId)
            }
        </div>
        <div class="col-md-3" style="margin:auto; padding-top:2rem;">
            <h1 class="text-center" style="font-weight:400; font-size:2.5rem">
                "<strong>Review and Edit</strong>" <br /> Role Benefits
            </h1><hr />
            <div class="form-group text-center">
                <input type="submit" value="Review Next Step" class="btn btn-primary btn-lg" />
            </div>
        </div>
    </div>
    <div class="row no_margin">
        <div class="col-md-4 text-center">

        </div>

    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
