@model Tikti.Models.HiringManager

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Organization_view.cshtml";
}


<br />
<h2 class="text-center" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    Are you sure you want to delete Hiring Manager?</h2>
<div style="padding-left:2rem; padding-right:2rem">
    <hr />
    <table class="table1" style="font-size:1.3rem;margin-left:auto; margin-right:auto; border-collapse:unset !important">
        <tr>
            <td class="table_Padding">@Html.DisplayNameFor(model => model.FirstName)</td>
            <td class="table_Padding">@Html.DisplayFor(model => model.FirstName)</td>
        </tr>
        <tr>
            <td class="table_Padding">@Html.DisplayNameFor(model => model.LastName)</td>
            <td class="table_Padding">@Html.DisplayFor(model => model.LastName)</td>
        </tr>
        <tr>
            <td class="table_Padding">@Html.DisplayNameFor(model => model.Title)</td>
            <td class="table_Padding">@Html.DisplayFor(model => model.Title)</td>
        </tr>
        <tr>
            <td class="table_Padding">@Html.DisplayNameFor(model => model.Department)</td>
            <td class="table_Padding">@Html.DisplayFor(model => model.Department)</td>
        </tr>
        <tr>
            <td class="table_Padding">@Html.DisplayNameFor(model => model.PhoneNumber)</td>
            <td class="table_Padding">@Html.DisplayFor(model => model.PhoneNumber)</td>
        </tr>
        <tr>
            <td class="table_Padding">@Html.DisplayNameFor(model => model.Email)</td>
            <td class="table_Padding">@Html.DisplayFor(model => model.Email)</td>
        </tr>
    </table>
    <form class="text-center table_Padding" asp-action="Delete">
        <input type="hidden" asp-for="HiringManagerId" />
        <input type="submit" value="Delete" class="btn-lg btn btn-danger" />
        &nbsp;&nbsp;&nbsp; <a class="btn btn-primary btn-lg" asp-action="Index">Back to List</a>
    </form>
</div>
