@model IEnumerable<Tikti.Models.HiringManager>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LoggedIn.cshtml";
}

<hr />
<div style="padding:0 2rem">
    <h1 class="text-center">Update Hiring Manager Details</h1>
    <br />
    <div class="text-danger font-weight-bold text-center">@TempData["message"]</div>
    <table class="table">
        <thead>
            <tr>
                <th style="border:1px solid black !important">
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th style="border:1px solid black !important">
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th style="border:1px solid black !important">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th style="border:1px solid black !important">
                    @Html.DisplayNameFor(model => model.Department)
                </th>
                <th style="border:1px solid black !important">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th style="border:1px solid black !important">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th style="border:1px solid black !important"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="border:1px solid black !important">
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td style="border:1px solid black !important">
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td style="border:1px solid black !important">
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td style="border:1px solid black !important">
                        @Html.DisplayFor(modelItem => item.Department)
                    </td>
                    <td style="border:1px solid black !important">
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td style="border:1px solid black !important">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="text-center" style="border:1px solid black !important">
                        <div class="form-group">
                            <a asp-action="Edit" asp-route-id="@item.HiringManagerId">
                                <input type="submit" value="Edit" class="btn btn-primary" style="width:80px" />
                            </a>
                        </div>
                        @*<a asp-action="Edit" asp-route-id="@item.HiringManagerId">Edit</a>*@

                        @*<a asp-action="Details" asp-route-id="@item.HiringManagerId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.HiringManagerId">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
