@model IEnumerable<Tikti.Models.AlternativeWorkLocation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Organization_view.cshtml";
}
<br />
<h1 class="text-center">Review and Edit Work Location</h1>
<hr />

<table class="table1 table_border" style="font-size:1.0rem;margin-left:auto; margin-right:auto">
    <thead>
        <tr>
            <th class="table_Padding table_border">
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th class="table_Padding table_border">
                @Html.DisplayNameFor(model => model.Province)
            </th>
            <th class="table_Padding table_border">
                @Html.DisplayNameFor(model => model.Postal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="table_Padding table_border text-center">
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td class="table_Padding table_border text-center"">
                    @Html.DisplayFor(modelItem => item.Province)
                </td>
                <td class="table_Padding table_border text-center"">
                    @Html.DisplayFor(modelItem => item.Postal)
                </td>
                <td class="table_Padding table_border">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.WorkLocationId">Edit Details</a>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.WorkLocationId">Delete Location</a>
                </td>
            </tr>
        }
        </tbody>
</table>
<br />
<div class="col text-center">
    <h6><a asp-action="Add">Add New Work Location</a></h6>
</div>
<hr />
<div class="text-center">
    <form>
        <h4><input type="checkbox" class="larger" />&nbsp <span>By clicking on this checkbox <a>I agree</a></span></h4>
    </form>

    <br />
    <a class="btn btn-primary btn-lg" asp-action="RoleOpportunityUploaded">Upload Role Opportunity</a>
</div>