@model IEnumerable<Tikti.Models.AlternativeWorkLocation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LoggedIn.cshtml";
}

<br />
<br />

<p>
    <a class="btn btn-primary" asp-action="Add">Add New Work Location</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Province)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Province)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Postal)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.WorkLocationId">Edit</a> 
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.WorkLocationId">Delete</a>
                </td>
            </tr>
        }
        }
    </tbody>
</table>


<form>
    <input type="checkbox" id="chk" /><span>By clicking on this checkbox I agree to TikTi's <a class="font-weight-bolder" target="_blank" asp-controller="Home" asp-action="PrivacyPolicy">Privacy Policy</a></span>
    <br />
    <button style="visibility:hidden;" class="btn btn-primary" id="btn-final" asp-action="RoleOpportunityUploaded">Upload Role Opportunity</button>

</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">
        $(document).ready(function () {
            $('#chk').click(function () {
                if ($(this).is(":checked")) {
                    document.getElementById("btn-final").style.visibility = "visible";
                }
                else {
                    document.getElementById("btn-final").style.visibility = "hidden";
                }
            });
                });
</script>
    
}
