@model Tikti.Models.RoleCompetencyB

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Organization_view.cshtml";
}

<h1>Details</h1>

<div>
    <h4>RoleCompetencyB</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComptencyBNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComptencyBNavigation.CompetencyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleOpportunityNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleOpportunityNavigation.City)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoleCompetencyBid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
